body {
  margin: 0;
  display: flex;
  justify-content: center; /* center horizontally */
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.js-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 99vh;

  max-width: 600px;
  width: 100%;
  margin: 0px 10px;
}

.chat-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.chat-input {
  flex-grow: 1;
  border-radius: 10px;
  height: 36px;
  border-width: 1px;
  padding-left: 10px;
  position: static;
}

.chat-send-button {
  color: white;
  background-color: rgb(25, 135, 84);
  border-width: 0;
  border-radius: 10px;
  height: 45px;
  width: 70px;
  cursor: pointer;
}

.chat-log {
  display: flex;
  flex-grow: 1;
  flex-direction: column; /* stack messages top → bottom */
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto; /* scrolls if content exceeds height */
  scrollbar-width: 1px;
  margin-top: 20px;
}

.user-response {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end; /* aligns the div itself inside a parent flex container */
  align-items: start; /* aligns the content inside this flex container to the bottom */
  padding-bottom: 10px;
  max-width: 70%;
}

.robot-response {
  padding-bottom: 10px;
  display: flex;
  gap: 5px;
  max-width: 70%;
}

.user-icon {
  height: 40px;
  border-color: rgba(134, 151, 151, 0.651);
  border-style: solid;
  border-radius: 50px;
  border-width: 1px;
  margin: 0px 5px;
}

.chat-text {
  background-color: rgba(236, 236, 236, 0.993);
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 14px;
  max-width: 80%;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: inherit;
}

.welcome-message {
  color: gray;
  font-size: 15px;
  text-align: center;
  margin-top: 30px;
}

.move-chatbox-line {
  display: flex;
  align-self: center;
  text-align: center;
  cursor: pointer;
  color: green;
  text-decoration: underline;
}
